<a href="https://colab.research.google.com/github/PrabhudattaDash/Data-Science-AI-ML-using-Python/blob/main/Day_1_Home_Task_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
items = input("Enter item prices separated by comma: ")
items = items.split(',')
total = 0
for price in items:
    total += int(price)
print("Total Bill:", total)

Enter item prices separated by comma: 50,60,70
Total Bill: 180

In [ ]:
#2
marks = input("Enter 5 subject marks separated by commas: ")
marks_tuple = tuple(int(mark) for mark in marks.split(','))
total = 0
average = sum(marks_tuple) / 5
print("Average:", average)

Enter 5 subject marks separated by commas: 90,91,92,98,97
Average: 93.6

In [ ]:
#3
email_list = input("Enter Emails separated by commas: ")
email_set = set(email for email in email_list.split(','))
print(email_set)

Enter Emails separated by commas: a@gmail.com,b@gmail.com,a@gmail.com
{'b@gmail.com', 'a@gmail.com'}

In [ ]:
#4
attendance = {}

n = int(input("Enter number of students: "))

for _ in range(n):
    name = input("Enter student name: ")
    status = input("Enter attendance status (Present/Absent): ")
    attendance[name] = status

print("\nAttendance Record:")
for name, status in attendance.items():
    print(name + " : "+ status)

Enter number of students: 2
Enter student name: Alice
Enter attendance status (Present/Absent): Present
Enter student name: Bob
Enter attendance status (Present/Absent): Absent

Attendance Record:
Alice : Present
Bob : Absent

In [ ]:
#4
def attendance(DICT):
  for name,status in DICT.items():
    print(name +": "+status)

DICT =  {'Alice': 'Present', 'Bob': 'Absent'}
attendance(DICT)

Alice: Present
Bob: Absent

In [ ]:
#5
n = int(input("Enter Number to print Multiplication table: "))
for i in range(1,11,1):
  print(n*i,end=(' '))

Enter Number to print Multiplication table: 4
4 8 12 16 20 24 28 32 36 40

In [ ]:
#6
numbers = input("Enter numbers separated by commas: ")
number_list = list(number for number in numbers.split(','))
out_list = []
p = 0
for number in number_list:
  p = int(number)*int(number)
  out_list.append(p)

print(out_list)

Enter numbers separated by commas: 1,2,3
[1, 4, 9]

In [ ]:
#7
n = int(input("Enter an odd height for the diamond: "))

for i in range(1, n + 1, 2):
    spaces = (n - i) // 2
    print(' ' * spaces + '*' * i)

for i in range(n - 2, 0, -2):
    spaces = (n - i) // 2
    print(' ' * spaces + '*' * i)

Enter an odd height for the diamond: 5
  *
 ***
*****
 ***
  *

In [ ]:
#8
input_str = input("Enter numbers separated by commas: ")
numbers = tuple(map(int, input_str.replace(',',' ').split()))
even = 0
odd = 0
for num in numbers:
    if num % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even:", even, ", Odd:", odd)

Enter numbers separated by commas: 1,2,3,4,5
Even: 2 , Odd: 3

In [ ]:
#9
def unique_fruits(fruit_list):
  fruit=set()
  for i in fruit_list:
    if i not in fruit:
      fruit.add(i)
  return fruit

fruits = ['apple', 'banana', 'apple', 'orange']
unique_fruits(fruits)

{'apple', 'banana', 'orange'}

In [ ]:
#10
def total_marks(dict1):
  tm = 0
  for key,i in dict1.items():
    tm +=i
  return "Total marks = " + str(tm)

marks = {'Math': 70, 'English': 80, 'Science': 75}
total_marks(marks)

'Total marks = 225'

In [ ]:
#11
def reverse_list(list1):
  reverse =[0]
  for i in list1:
    reverse.insert(0,i)
  reverse.pop(-1)
  return reverse
list1 = [10, 20, 30]
reverse_list(list1)

[30, 20, 10]

In [ ]:
#12
def login(user_name):
  key = "admin"
  if user_name == key:
    return "login successful"
  else:
    return "User name mismatch"

user = "admin"
login(user)

'login successful'

In [ ]:
#13
def library_count(dict1):
  book_count = 0
  for key,i in dict1.items():
    book_count +=i
  return "Total Books = " + str(book_count)

books = {'Math': 5, 'History': 4, 'English': 6}
library_count(books)

'Total Books = 15'

In [ ]:
#14
for i in range(1,21,1):
  if i%3 == 0:
    print(i,end = ", ")

3, 6, 9, 12, 15, 18,

In [ ]:
#15
def compare_list(list1,list2):
  list3 = []
  for i in list1:
    for j in list2:
      if i == j:
        list3.append(i)
  return list3
list1 = [1,2,3]
list2 = [2,3,4]
compare_list(list1,list2)

[2, 3]

In [ ]:
#16
def vowel_counter(str1):
  key = {'a','e','i','o','u','A','E','I','O','U'}
  vowel_count = 0
  for i in str1:
    if i in key:
      vowel_count +=1
  return vowel_count

str1 = input("Enter a string to check for vowels: ")
vowel_counter(str1)

Enter a string to check for vowels: education

5

In [ ]:
#17
def duplicate_remove(list1):
  unique = set(list1)
  list2 = list(unique)
  return list2

list1 = [1, 1, 2, 3, 3]
duplicate_remove(list1)

[1, 2, 3]

In [ ]:
#18
def rank_dict(dict1):
  for rank,name in dict1.items():
    print(rank, " - ",name)

"""dict1 = {1: 'John', 2: 'Alice'}"""
dict1 = {}

n = int(input("Enter number of students: "))

for _ in range(n):
    name = input("Enter student name: ")
    rank =int(input("Enter rank: "))
    dict1[rank] = name
dict1 = dict(sorted(dict1.items()))
rank_dict(dict1)

Enter number of students: 2
Enter student name: Alice
Enter rank: 2
Enter student name: John
Enter rank: 1
1  -  John
2  -  Alice

In [ ]:
#19
n = int(input("Range 1: "))
m = int(input("Range 2: "))

for i in range(n):
  for j in range(m):
    print("(",i,",",j,")")

Range 1: 2
Range 2: 3
( 0 , 0 )
( 0 , 1 )
( 0 , 2 )
( 1 , 0 )
( 1 , 1 )
( 1 , 2 )

In [ ]:
#20
password = input("Enter password: ")
letter = False
digit = False

for char in password:
    if ('a' <= char <= 'z') or ('A' <= char <= 'Z'):
        letter = True
    elif '0' <= char <= '9':
        digit = True

if letter and digit:
    print("Strong Password")
else:
    print("Weak Password")

Enter password: pass123
Strong Password